
.vscode/c_cpp_properties.json
.vscode/settings.json
*.obj
*.exe
*.exe.stackdump
*.out
tempCodeRunnerFile.c
*.class
*.pdb
*.cache
*.CopyComplete
[d]ebug/
[d]ebugPublic/
[r]elease/
[r]eleases/
x64/
x86/
[b]in/
[o]bj/
[l]og/